{% extends 'base.html.twig' %}

{% block title %}Rejestracja{% endblock %}

{% block body %}
    <h1>{{caption}}</h1>

    {% if message is defined %}
        <h2>{{ message }}</h2>
    {% endif %}
    <section class="login-form">
        <div>
            {{ form(form) }}
        </div>
    </section>
    <span><a href="{{ path('app_catalogs_home') }}">Powrót</a></span>
{% endblock %}
