{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>
    <section class="login-form">


        {{ form(form) }}
    </section>

{% endblock %}
