{% extends 'base.html.twig' %}

{% block title %}Rejestracja{% endblock %}

{% block body %}
    <h1>Rejestracja</h1>
    <section class="login-form">
        {{ form(form) }}
    </section>
    <span><a href="{{ path('app_catalogs_home') }}">Powrót</a></span>

{% endblock %}
