{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <p>Hasło zostało zmienione, możesz się teraz <a href="{{ path('app_login') }}">Zalogować</a></p>
{% endblock %}
