body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 17px;
}

nav {
    display: flex;
    position: sticky;
    flex-direction: row;
    width: 100%;
    margin: 0;
    top: 0;
}

@media (max-width: 1023px) {
    nav {
        width: 100%;
        flex-direction: column-reverse;
    }
}

footer {
    font-size: 10pt;
    position: absolute;
    bottom: 0;
    flex-direction: row;
    width: 100%;
    margin: 0;
    justify-content: center;
}

main {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 1em;
}

/*@media(max-width: 1023px) {*/
/*    main {*/
/*        font-size: 50px;*/
/*    }*/
/*}*/

#top-menu {
    justify-content: space-between;
    background-color: #102E44;
    font-size: 18px;
    height: auto;
}

/*@media(max-width: 1023px) {*/
/*    #top-menu {*/
/*        font-size: 50px;*/
/*    }*/
/*}*/
#top-menu-options {
    display: flex;
}

@media (max-width: 1023px) {
    #top-menu-options {
        display: none;
    }

    #top-menu-options.visible {
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
}


#top-menu-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    text-align: center;
    padding: 0 10px 0 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.10);
}

@media (max-width: 1023px) {
    #top-menu-option {
        padding: 10px;
        width: 100%;
        border-left: 0;
        line-height: 2em;
        border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    }
}

#top-menu-option span {
    color: red;
    padding: 0;
}


#top-menu-option:hover {
    background-color: #005596;
}

#top-menu a {
    color: #fff;
    text-decoration: none;
}

#top-menu a:hover {
    color: #c0c0c0;
    text-decoration: none;
    text-shadow: 0 0 5px 5px #555555;
}

#menu {
    height: 100%;
}

#user-info {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: #005596;
    color: #fff;
    border-left: 1px solid #c0c0c0;
}

@media (max-width: 1023px) {
    #user-info {
        line-height: 2em;
        justify-content: space-between;
    }
}

#menu-button {
    display: none;
}

@media (max-width: 1023px) {
    #menu-button {
        display: flex;
        width: max-content;
        justify-content: center;
        align-items: center;
        padding-right: 0.2em;
        line-height: 2.2em;
    }

    #menu-button.active {
        background-color: #102e44;
    }
}

.user-element {
    margin-left: 10px;
    margin-right: 15px;
}

section {
    padding: 15px 20px 15px 20px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

table {
    width: 80%;
    border-spacing: 10px;
    text-align: left;
    border-collapse: collapse;
}

table.report-table {
    width: 90%;
    border: 0;
}

table.report-table td {
    height: auto;
    word-wrap: break-word;
}

tr {
    border-bottom: 1px solid #c0c0c0;
}

td {
    padding: 10px;
}

.login-form, .login-form div {
    background-color: #102e44;
    color: #fff;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1023px) {
    .login-form, .login-form div {
        width: 100%;
        /*font-size: 50px;*/
    }

    .login-form span {
        margin-left: 20px;
    }
}

.button-cell {
    width: 12%;
    text-align: right;
}


.table-header {
    background-color: #c0c0c0;
    font-size: 20px;
}

.normal-form, .normal-form form div {
    color: #102e44;
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

form > input, button, form span, label {
    margin-top: 20px;
}

@media (max-width: 1023px) {
    form > span, form > label, button, input {
        margin: 20px 20px 0 20px;
    }
}

#logo-placeholder {
    display: flex;
    width: 200px;
    color: #102E44;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

@media (max-width: 1023px) {
    #logo-placeholder {
        width: 100%;
        /*font-size: 30px;*/
    }

}

.logo-placeholder-big {
    font-size: 50px;
}

/*@media(max-width: 1023px) {*/
/*    .logo-placeholder-big {*/
/*        font-size: 120px;*/
/*    }*/
/*}*/

.logo-placeholder-small {
    font-size: 15px;
}

/*@media(max-width: 1023px) {*/
/*    .logo-placeholder-small {*/
/*        font-size: 40px;*/
/*    }*/
/*}*/

input, button {
    padding: 5px;
    height: 1.5em;
}


input {
    border: 1px solid #c0c0c0;
    font-size: 17px;
    font-family: Montserrat, sans-serif;
}

button {
    height: 2.2em;
    margin-top: 5px;
    background-color: #005596;
    color: #fff;
    border: 1px solid #fff;
    font-size: 17px;
    font-family: Montserrat, sans-serif;
}

@media (max-width: 1023px) {
    input, button {
        margin: 20px 20px 0 20px;
        padding: 5px;
        /*height: 2.5em;*/
        /*font-size: 50px;*/
    }
}

select {
    border: 1px solid #c0c0c0;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
}


a {
    color: dodgerblue;
    text-decoration: none;
}

a:hover {
    color: #102e44;
    text-decoration: none;
}

.container {
    width: 60%;
}

#error {
    color: #ff0000;
    padding: 5px;
}

.topic-cell {
    font-weight: bold;
    font-size: 18px;
}

.description-cell {
    font-size: 15px;
}

.author-cell {
    font-size: 13px;
    text-align: right;
}

.catalogs-list {
    display: none;
    margin: 0;
}

.catalogs-list.visible {
    display: flex;
    width: 100%;
}

.iconify {
    margin-top: -5px;
    font-size: 25px;
    margin-left: 10px;
}

ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    margin-left: -2.3em;
    width: 100%;
}

@media (max-width: 1023px) {
    ul {
        margin-left: -0.7em;
    }
}

li {
    display: flex;
    width: 100%;
    line-height: 3em;
}

li.catalog {
    display: flex;
    flex-direction: row;
    line-height: 3em;
    width: 100%;
}

@media (max-width: 1023px) {
    li.catalog {
        line-height: 1em;
        padding: 20px 0 20px 0;
        margin-left: -2em;
    }
}

.catalog-info {
    display: grid;
    grid-template-columns: 60% 20% 20%;
    column-gap: inherit;
    justify-content: stretch;
    margin-left: -2.5em;
    padding: 0 3em 0 1em;
    width: 100%;

}

@media (max-width: 1023px) {
    .catalog-info {
        margin-left: -1.2em;
        grid-template-columns: 80% 0 20%;
        column-gap: inherit;
        justify-content: stretch;
        padding-right: 0;
    }
}

.system-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.system-header {
    background-color: #c0c0c0;
    width: 99%;
    padding: 10px 0 10px 10px;
    margin: 5px 0 5px 0;
}

.system-header:hover, .system-header span:hover {
    cursor: pointer;
}

.system-header.active {
    color: #fff;
    background-color: #102e44;
}

.catalogs-home-list {
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 0;
}
.catalogs-home-list>ul {
    padding: 0;
}

@media (max-width: 1023px) {
    .catalogs-home-list {
        width: 90%;
        justify-content: center;
    }
}

.login-form div ul {
    font-size: 14px;
    color: orangered;
    margin-left: -1em;
}

#edit_user_roles {
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
}

.date-added {
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
    color: #666;
}

@media (max-width: 1023px) {
    .date-added {
        display: none;
    }
}

a.link-like-normal-text {
    text-decoration: none;
    color: black;
}

textarea {
    resize: none;
}

.ok-message-element {
    display: flex;
    align-items: center;
    margin-top: 0.5em;
    color: green;
    padding: 0;
    text-align: right;
    height: 1em;
}

#info-text {
    color: #005596;
}

.list-header {
    display: flex;
    flex-direction: row;
    background-color: #c0c0c0;
    width: 99%;
    padding: 10px 0 10px 10px;
    margin: 5px 0 5px 0;
    justify-content: space-between;
    font-size: 1.3rem;
}

.items-list {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.items-list>ul {
    padding-left: 0;
}

.list-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: -1.3em;
}

.editor-buttons {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    margin-right: 1em;
}

@media (max-width: 1023px) {
    .editor-buttons {
        /*font-size: 50px;*/
        justify-content: flex-start;
        align-self: flex-start;
        margin-left: 0;
    }

    .list-content {
        margin-left: -2em;
    }
}

.author-info {
    font-size: 0.8rem;
}

.list-topic {
    font-size: 1.2rem;
}

.list-item-underlined, .list-item {
    justify-content: space-between;
    margin-right: 1.3em;
    width: 100%;
}
.list-item-underlined {
    border-bottom: 1px solid #c0c0c0;
}
.logout-text {
    display: flex;
}
.logout-icon {
    display: none;
}
@media (max-width: 1023px) {
    .logout-text {
        display: none;
    }
    .logout-icon {
        display: flex;
    }
    .catalogs-list.visible {
        display: flex;
        width: 100%;
    }
    .list-header {
        flex-direction: column;
        justify-content: start;
    }
}