body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 17px;
}

nav {
    display: flex;
    position: sticky;
    flex-direction: row;
    width: 100%;
    margin: 0;
    top: 0;
}

main {
    display: flex;
    width: 100vb;
    flex-direction: column;
    align-items: center;
}

#top-menu {
    justify-content: space-between;
    background-color: #102E44;
    font-size: 18px;
}

#top-menu-options {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

#top-menu-option {
    margin-right: 10px;
    padding: 15px;
}

#top-menu-option:hover {
    background-color: #005596;
}

#top-menu a {
    color: #fff;
    text-decoration: none;
}

#top-menu a:hover {
    color: #c0c0c0;
    text-decoration: none;
    text-shadow: 0 0 5px 5px #555555;
}

#user-info {
    padding: 15px;
    background-color: #005596;
    color: #fff;
    border-left: 1px solid #c0c0c0;
}

.user-element {
    margin-left: 10px;
    margin-right: 15px;
}

section {
    padding: 15px 20px 15px 20px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

table {
    border: 1px solid #102e44;
    border-spacing: 0;
    margin: 5px;
    width: 100vb;
}

td {
    padding: 10px;
}

.login-form, .login-form div {
    background-color: #102e44;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.button-cell {
    background-color: #102e44;
    width: 10vb;
}

.button-cell > a {
    color: #fff;
}

.table-header {
    background-color: #102e44;
    color: #fff;
    font-size: 20px;
}

.normal-form, .normal-form form div {
    color: #102e44;
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

form > input, label, button, span {
    margin-top: 5px;
}

#logo-placeholder {
    display: flex;
    width: 200px;
    color: #102E44;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.logo-placeholder-big {
    font-size: 50px;
}

.logo-placeholder-small {
    font-size: 15px;
}

input, button {
    padding: 5px;
    height: 1.5em;
}

input {
    border: 1px solid #c0c0c0;
    font-size: 17px;
    font-family: Montserrat, sans-serif;
}

select {
    border: 1px solid #c0c0c0;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
}
button {
    height: 2.2em;
    margin-top: 5px;
    background-color: #005596;
    color: #fff;
    border: 1px solid #fff;
    font-size: 17px;
    font-family: Montserrat, sans-serif;
}

a {
    color: dodgerblue;
    text-decoration: none;
}

a:hover {
    color: #c0c0c0;
    text-decoration: none;
}

.container {
    width: 60%;
}
#error {
    color: #ff0000;
    padding: 5px;
}

.topic-cell {
    font-weight: bold;
    font-size: 18px;
}

.description-cell {
    font-size: 15px;
}

.author-cell {
    font-size: 13px;
    text-align: right;
}

.catalogs-list {
    display: none;
    margin: 0;
}

.catalogs-list.visible {
    display: flex;
}

.iconify {
    margin-top: -5px;
    font-size: 25px;
    margin-left: 10px;
}

ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    width: 100vh;
}
li {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    line-height: 3em;
    margin-left: -2em;
}
.catalog-info {
    display: grid;
    grid-template-columns: 60% 20% 20%;
    column-gap: inherit;
    justify-content: stretch;
    width: 100vh;
}
.system-content {
    display: flex;
    flex-direction: column;
    width: 100vh;
}
.system-header {
    background-color: #c0c0c0;
    width: 100vh;
    padding: 10px;
}

.system-header:hover, .system-header span:hover {
    cursor: pointer;
}

.system-header.active {
    color: #fff;
    background-color: #102e44;
}

.catalogs-home-list {
    display: flex;
    flex-direction: row;
    width: 100vb;
}

.login-form div ul {
    font-size: 14px;
    color: orangered;
    margin-left: -1em;
}

#edit_user_roles {
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
}

.date-added {
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
    color: #666;
}
a.link-like-normal-text {
    text-decoration: none;
    color: black;
}
textarea {
    resize: none;
}
.ok-message-element {
    display: flex;
    align-items: center;
    color: green;
    padding: 0;
    text-align: right;
}
.editor-buttons {
    display: flex;
    justify-content: flex-end;
}
/*TODO fix editor buttons*/