{% extends 'base.html.twig' %}

{% block title %}Hello AccessDeniedController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<p>Wygląda na to, że nie masz dostępu do tej zawartości. <a href="{{ path('app_catalogs_home') }}">Kliknuj tutaj</a>, aby wrócić do strony głównej.</p>
{% endblock %}
