{% extends 'base.html.twig' %}

{% block title %}{{ caption }}{% endblock %}

{% block body %}
    {{ parent() }}
    <main>
        <section class="normal-form">

            <h1>{{ caption }}</h1>

            {{ form(form) }}
        </section>
    </main>
{% endblock %}
